table>tr>td{
  border: 1px solid #eee;
  padding: 20px;
  vertical-align: middle;
}
.t_header{
  background:rgb(250, 250, 250);
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.t_wight{
  color: #333;
  font-size: 16px;
  font-weight: bold;
}