/**
 * @author YM
 */
.point-config {
    .axiss-con{
        .axiss_left{
            position: fixed;
            width: 310px;
            top: 80px;
            bottom: 0;
            overflow: auto;
        }
    }

  
}
