/**
 * @author YM
 */
.point-config {
  .btn {
    display: inline-block;
    height: 34px;
    font-size: 13px;
    color: #bee8f5;
    border: 1px solid #1291d8;
    border-radius: 2px;
    background-color: rgba(18, 145, 216, 0.2);
    img {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
    span {
      display: flex;
      line-height: 31px;
      height: 31px;
      padding: 0 12px;
      align-items: center;
      border-bottom: 1px solid #1291d8;
    }
  }
  .point_li{
    padding: 10px;
    cursor: pointer;
  }
  .point_li.active{
      color: #1291d8;
  }
}